# This is Git's per-user configuration file.
[user]
	name = Linus Rachlis
	email = linus@rachlis.net

[core]
    autocrlf = input
    editor = nvim

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[alias]
    s = status
    aa = add -A
    ap = add -p
    l = log --graph --oneline --all --decorate
    l1 = log --graph --oneline --decorate
    lm = log --graph --format=medium --all --decorate
    lm1 = log --graph --format=medium --decorate
    dc = diff --cached
    co = checkout
    edit-config = config -e --global
    show-skipped = !git ls-files -v|grep '^S'
    skip = update-index --skip-worktree
    no-skip = update-index --no-skip-worktree
    show-dead-branches = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}'
    remove-dead-branches = !git show-dead-branches | xargs git branch -D
    fpr = !git fetch --prune && git remove-dead-branches
[grep]
    lineNumber = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
