# This is Git's per-user configuration file.
[user]
	name = Linus Rachlis
	email = linus@rachlis.net
[core]
    autocrlf = input
    editor = nvim
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
    edit-config = config -e --global
    show-skipped = !git ls-files -v|grep '^S'
    skip = update-index --skip-worktree
    no-skip = update-index --no-skip-worktree
    show-dead-branches = !git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}'
    remove-dead-branches = !git show-dead-branches | xargs git branch -D
    fpr = !git fetch --prune && git remove-dead-branches
[grep]
    lineNumber = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[include]
    path = ~/.gitconfig_extra
